<div>

  <h1> Create a New Course: </h1>

  <form method="post" target="_blank" onsubmit="return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);">
    <div>
      <table>
        <tr>
          <td>Name:</td>
          <td><input type="text" size="35" value=""></td>
        </tr>

        <tr>
          <td>Department:</td>
          <td>
            <select>
              <option value="None selected">Please select below</option>
            </select>
          </td>
        </tr>

        <tr>
          <td>Course Number:</td>
          <td><input type="number" size="35" value=""></td>
        </tr>

        <tr>
          <td>Semester:</td>
          <td><input type="text" size="35" value=""></td>
        </tr>

        <tr>
          <td>Year:</td>
          <td>
            <select>
              <option value="None selected">Please select below</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="None selected">Fall</option>
              <option value="None selected">Winter</option>
            </select>
          </td>
        <tr>
          <td>
            <b>
              Professor:
            </b>
            <input type="text" size="35" value=""></td>
        </tr>
        <tr>
          <td>
            <b>
              Unit:
            </b>
            <input type="text" size="35" value=""></td>
        </tr>
        <tr>
          <td>
            <b>
              Course Information:
            </b>
            <input type="text" size="35" value=""></td>
        </tr>

      </table>

      <input type="submit" value="Create">
      <input type="reset" value="Reset">
    </div>
  </form>


</div>
</body></html>