<div>
      	<h3> No such Course Existed! Create a New One! </h3>

  	<form action="coursem/create" method="post">
	  	<div id="create_course">
			<table>
				<tr>
					<td>
						<b>
						Name:
						</b>
						<input type="text" name="name" id="name" size="35" value="">
				</tr>
				<tr>
					<td>
						<b>
	      					Department:
	    				</b>
	    				<select id="department" name="department">
	    					<option value="None selected">Please select below</option>
                          <% @departments.each do |department| %>
                              <option value='<%= department %>'><%= department %></option>
                          <% end %>
                        </select>
	  				</td>
	  			</tr>
				<tr>	
					<td>
						<b>
	      					Course Number:
	    				</b>
	  					<input type="text" id="course_number" name="course_number" size="35" value="">
	  				</td>
				</tr>
				<tr>
					<td>
						<b>
	      					Semester:
	    				</b>
	    				<select id="semester" name="semester">
	    					<option value="None selected">Please select below</option>
	    					<option value="spring">Spring</option>
	    					<option value="summer">Summer</option>
	    					<option value="fall">Fall</option>
	    					<option value="winter">Winter</option>
	    				</select>
	  				</td>
				</tr>
				<tr>	
					<td>
						<b>
	      					Year:
	    				</b>
	  					<input type="number" id="year" name="year" size="35" value="">
				</tr>
				<tr>	
					<td>
						<b>
	      					Professor:
	    				</b>
	  					<input type="text" id="professor" name="professor" size="35" value=""></td>
				</tr>
				<tr>	
					<td>
						<b>
	      					Unit:
	    				</b>
	  					<input type="text" id="unit" name="unit" size="35" value=""></td>
				</tr>
				<tr>	
					<td>
						<b>
	      					Course Information:
	    				</b>
	  					<input type="text" id="coursem_info" name="coursem_info" size="35" value=""></td>
				</tr>

			</table>

			<input type="submit" id="create" value="Create"></input>
			<input type="reset" value="Reset" ></input>
		</div>
	</form>

</div>