<div id="title_container">
</div>

<div id="browse_container">
    <table id="coursem_description">
        <tr>
            <td class='col_attr'>Name</td>
            <td class='col_desc'><%= @resource.name %></td>
        </tr>

        <tr>
            <td class='col_attr'>Type</td>
            <td class='col_desc'><%= @resource.type %></td>
        </tr>

        <tr>
            <td class='col_attr'>Link</td>
            <td class='col_desc'><a href='<%= @resource.link %>'><%= @resource.link %></a></td>
        </tr>

        <tr>
            <td class='col_attr'>User</td>
            <td class='col_desc'><a href='/users/<%=@resource.user_id %>'><%=@resource.user.username %></a>
            </td>
        </tr>


    </table>


</div>



<div>
    <div id="resource_container">
        <div id="title_bar">
            <div id="resource_name">
                <h2 > <%= @resource.name %>     </h2>

            </div>
            <div id="contributor_name">
                <p > <a href='/users/<%=@resource.user_id %>'><%=@resource.user.username %></a></p>
            </div>

            <div id="link">
                <h3 >Link: </h3>
                <p>
                    <%= link_to @resource.link, @resource.link, :target => "_blank"   %>
                </p>
            </div>

        </div>



    </div>


</div>

