<table class="table" id="resource_description">
  <tr>
    <td>Username</td>
    <td><%= @user.username %></td>
  </tr>

  <tr>
    <td>Karma</td>
    <td><%= @user.karma %></td>
  </tr>

  <tr>
    <td>About</td>
    <td></td>
  </tr>
</table>