<div id="browse_container">

  <form>
    Email: <b id="email-contents"><%= @email %></b>
    <input id="email-edit" type="text" name="email"><br>

    Username: <b id="username-contents"><%= @username %></b>
    <input id="username-edit" type="text" name="email"><br>
    <!--karma is not editable-->
    Karma: <b id="karma-contents"><%= @karma %></b>
    <br>
    <input id="done-button" type="submit" value="done">
  </form>

  <button id="edit-button">Click to edit</button>

</div>