<% content_for :externals do %>
    <%= stylesheet_link_tag "event_calendar" %>
<% end %>

<div>
	<span title="Hide Recent Resources">
	<h2 id="feed"> Feed of Recent Resources: </h2>
	</span>
	<table class='table' id="Feed">
	  <% @feed.each do |a| %>
	      <%= render :partial => '/resources/resource', :locals => {:resource => a} %>
	  <% end %>
	</table>
</div>

<div>
	<span title="Hide Favorite Resources">
	<h2 id='favorite'> Favorite Resources: </h2>
	</span>
	<table class='table' id="favorite">
	  <% @favorites.each do |favorite| %>
	      <%= render :partial => '/resources/favorite', :locals => {:favorite => favorite} %>
	  <% end %>
	</table>
</div>

<div id="calendar_container">
    <h2>Your calendar:</h2>
    <%= raw(event_calendar) %>
</div>

