<tr>
  <td>
    <a href='/resources/<%= resource.id %>'><%= resource.name %></a>
  </td>
  <td> | </td>
  <td class="col_user">Posted by
    <%
       userid = resource.user_id
       username = User.find(userid).username
       userURL = "/users/" + userid.to_s
    %>
    <%= link_to username, userURL %>
  </td>
  <td> | </td>
  <td class="col_postdate">Posted on <%= resource.created_at %></td>
  <td> | </td>
  <td class="col_flag">FlagButton</td>
  <td class="col_downvote"></td>
  <td class="col_name"></td>
</tr>