/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require jquery.ui.autocomplete
*/

$lavender: #AD00AD;
$lavender_dark: #790079;
$lavender_light: #FF00EB;
$blue_light: rgb(235,240,255);
$navy_blue: rgb(20,50,255);
$dark_blue: rgb(20,50,200);
$gold: rgb(240,220,80);
$deep_gold: rgb(230,210,70);
$margin: 30px;

$width: 750px;
$width_subscribe: 10px;
$width_department: 120px;
$width_course_number: 80px;
$width_name: 300px;
$width_classes: 240px;

$container_width: 800px;

#container {
  width: $container_width;
  margin-left: auto;
    margin-right: auto;
}

nav {
  background-color: $gold;
  border:  2px solid $navy_blue;
  padding:  0px;
  border-radius:  0.3em;
  ul {
    margin:  0px;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
  li {
    display: table-cell;
    width:  160px;
    color:  $navy_blue;
    height:  30px;
    vertical-align: middle;
    padding:  0px;
    a {
      display: table-cell;
      height:  30px;
      width:  160px;
      color: $navy_blue;
      text-align: center;
      text-decoration:  none;
      vertical-align: middle;
      margin: 0px;
    }
    a:hover {
      background-color: $navy_blue;
      color: white;
    }
  }
  margin-bottom: 20px;
}

#title_container {
  background-color: $navy_blue;
  color:  white;
  width:  400px;
  border-radius:  0.3em;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  h2 {
    padding:  0px;
    display: block;
    margin:  0px;
    text-align:  center;
  }
  margin-bottom: 10px;
  border:  2px solid $dark_blue;
}


#content {
  border:  2px solid $navy_blue;
  padding:  5px;
}