$lavender: #AD00AD;
$lavender_dark: #790079;
$lavender_light: #FF00EB;
$blue_light: rgb(235,240,255);
$navy_blue: rgb(40,100,255);
$dark_blue: rgb(20,70,255);
$gold: rgb(240,220,80);
$margin: 30px;

$width: 750px;
$width_subscribe: 10px;
$width_department: 120px;
$width_course_number: 80px;
$width_name: 300px;
$width_classes: 240px;

#browse_container {
	table {
		border-collapse: collapse;
	}
	tr {
		height: 35px;
	}
	.row_content:hover {
		background-color: white;
	}
	.row_header {
		font-weight: bold;
		text-align: center;
		background-color: $navy_blue;
		height: 30px;
		color: white;
	}
	.col_subscribe {
		width: $width_subscribe;
	}
	.col_department {
		width: $width_department;
	}
	.col_course_number {
		width: $width_course_number;
	}
	.col_name {
		width: $width_name;
	}
	.col_classes {
		width: $width_classes;
	}
}
