
$navy_blue: rgb(40,100,255);

$width: 750px;
$width_subscribe: 10px;
$width_department: 120px;
$width_course_number: 80px;
$width_name: 300px;
$width_classes: 240px;

.container {
  margin: 30px auto;
  width: 330px;
  height: 300px;
  border: solid;
  border-color: rgb(0,140,158);
  background-color: rgb(0,180,204);
}


.message {
  margin: 10px 20px 50px 20px;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
}

#table_courses {
    .row_header {
        background-color: rgb(200,200,200);
    }
}

#course_container {
  table {
      border-collapse: collapse;
  }
      tr {
          height: 35px;
      }

      .row_content:hover {
       background-color: white;
  }
  .row_header {
  font-weight: bold;
      text-align: center;
      background-color: $navy_blue;
      height: 30px;
      color: white;
  }
  .col_subscribe {
      width: $width_subscribe;
  }
  .col_department {
      width: $width_department;
  }

  .col_course_number {
      width: $width_course_number;
  }

  .col_name {
      width: $width_name;
  }

  .col_classes {
      width: $width_classes;
      }
}
