
.container {
  margin: 30px auto;
  width: 330px;
  height: 300px;
  border: solid;
  border-color: rgb(0,140,158);
  background-color: rgb(0,180,204);
}

.message {
  margin: 10px 20px 50px 20px;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
}

div {
  margin: 0 auto;
}
